.cart-button {
  margin-right: 60px;
  font-family: "News Cycle", sans-serif;
  font-size: 1.5rem;
  background: none;
  border: none;
  position: relative;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.cart-button:hover {
  cursor: pointer;
}

.cart-button:after {
  display: block;
  content: "";
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.cart-button:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

@media only screen and (max-width: 400px) {
  .cart-button {
    font-size: 1.2rem;
    margin-right: 30px;
  }
}
