.nav-container {
  font-family: "News Cycle", sans-serif;
  display: flex;
  min-height: 12vh;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-links {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.nav-container h3 {
  margin-left: 40px;
}

#nav-logo {
  object-fit: contain;
  width: 200px;
  height: 80px;
  margin-top: 4px;
}
